<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lux register</title>
</head>
<body>
    <form name="registration" th:action="@{/reg}" th:object="${user}" method="post">
        <input type="email" id="email" name="email" th:field="*{email}" placeholder="email address" required="true">
        <input type="password" id="password" name="password" th:field="*{password}" placeholder="password" required="true">
        <input type="text" id="firstName" name="firstName" th:field="*{firstName}" placeholder="first name">
        <input type="text" id="lastName" name="lastName" th:field="*{lastName}" placeholder="last name">
        <input type="submit">
    </form>
</body>
</html>